mixin projects
  section.projects
    .container
      .projects__wrapper
        .projects__title-wrapper
          h2.projects__title
            | Проекты
        .projects__text-wrapper
          p.projects__text
            | Здесь представлены наши проекты!
        div(class="projects__slider")
          div(class='projects__slider-wrapper swiper-wrapper')
            div(class='projects__slide swiper-slide')
              img(width='622', height='100%', src='./img/content/slide-1.png', alt='Изображение проекта')
            div(class='projects__slide swiper-slide')
              img(width='631', height='100%', src='./img/content/slide-2.png', alt='Изображение проекта')
            div(class='projects__slide swiper-slide')
              img(width='622', height='100%', src='./img/content/slide-1.png', alt='Изображение проекта')
            div(class='projects__slide swiper-slide')
              img(width='631', height='100%', src='./img/content/slide-2.png', alt='Изображение проекта')
          div(class='projects__slider-btn-prev swiper-button-prev')
            svg(width='100', height='50', aria-hidden="true")
              use(xlink:href="./img/sprite.svg#arrow-btn")
          div(class='projects__slider-btn-next swiper-button-next')
            svg(width='100', height='50', aria-hidden="true")
              use(xlink:href="./img/sprite.svg#arrow-btn")

