mixin header
  header.header
    .container
      nav.header__nav
        .header__logo
          img(width="150" height="150" src="./img/content/logo.png" alt="Логотип")
        ul.header__nav-list
          li.header__nav-item
            a(class='header__nav-link', href='#')
              | О нас
          li.header__nav-item
            a(class='header__nav-link', href='#')
              | Проекты
          li.header__nav-item
            a(class='header__nav-link', href='#')
              | Новости
          li.header__nav-item
            a(class='header__nav-link', href='#')
              | Контакты
        button(class='header__nav-btn', type='button')

